<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  <param name="robot_description"  


    command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_waffle_pi.urdf.xacro" />

  <!-- BEGIN ROBOT 1-->
  <group ns="robot_0">
    <param name="tf_prefix" value="robot_0" />
    <include file="$(find multi_robot)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1.5 -y 1 -z 0" />
      <arg name="robot_name"  value="robot_0" />

    </include>
<node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster1" args="0 0 0 0 0 0 /map robot_0/odom 100"/>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="robot_1">
    <param name="tf_prefix" value="robot_1" />
    <include file="$(find multi_robot)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -1 -y 1 -z 0" />
      <arg name="robot_name"  value="Robot_1" />
    </include>

<node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster2" args="0 0 0 0 0 0 /map robot_1/odom 100"/>
  </group>
</launch>

